@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,900&display=swap');
* {
    margin: 0;
    padding: 0%;
}
.header{
   text-align: center;
}
.header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 55px;
    text-transform: uppercase;
    margin: 40px 0px 20px 0px;
}
.header p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 30px;

}